html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  overflow: none;
}

main {
  height: 100%;
  max-width: 650px;
}

.nav {
  background-color: transparent;
  width: 600px;
  height: 50px;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.nav h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #b9a9fb;
  opacity: 1;
}

/* .search input {
} */

.table-div {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  margin: 70px auto;
  font-size: 1.5rem;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th,
td {
  padding: 15px 15px;
  text-align: left;
}

th {
  padding: 10px;
  background-color: #b9a9fb;
  font-weight: 700;
}

tr th {
  padding: 10px;
  font-weight: 700;
}

tr td {
  padding: 10px;
}

form {
  display: flex;
  align-items: center;
}

form input {
  border: none;
  outline: none;
}

form input::placeholder {
  padding-left: 5px;
}

form button {
  font-weight: 600;
  background-color: transparent;
  padding: 6px 10px;
  border: none;
  outline: none;
  color: #0f1b4c;
  letter-spacing: 1px;
  cursor: pointer;
}
form button:hover {
  background-color: rgba(0, 0, 255, 0.4);
}

form img {
  padding-right: 10px;
}

table button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
